.App {

  // model (child component)
  .modal {
    height: fit-content;
  }

  .modal-content {
    width: 500px !important;
  }

  .rounded-circle {
    height: 50px;
    width: 50px;
    box-shadow: 0px 0px 9px -1px rgba(110, 37, 37, 0.75);
    -webkit-box-shadow: 0px 0px 9px -1px rgba(110, 37, 37, 0.75);
    -moz-box-shadow: 0px 0px 9px -1px rgba(110, 37, 37, 0.75);
  }
}